.login-img {
  width: 90%;
  height: 80;
}

.login-img-container {
  flex-basis: 50%;
  margin: auto;
}

.login-flex {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.container-login {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.register-link {
  text-decoration: none;
  color: #38a870;
  font-weight: 600;
  font-size: 20px;
}
.login-btn {
  background-color: #38a870;
  color: white;
  width: 100%;
  height: 50%;
  padding: 1rem;
  font-size: 20px;
  margin-bottom: 50px;
  border: none;
}

.form-control {
  width: 96%;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  padding-left: 3%;
}

.login-btn:hover {
  background-color: #2e8d5e;
}

.register-login {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  margin: auto;
  justify-content: center;
}

.register-page {
  display: flex;
  flex-direction: column;
  margin-top: 18%;
}
.register-link-container {
  margin: auto;
}
.login-header {
  margin-bottom: 80px;
}
